
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #15202b; /* Dark Blue */
  color: #ffffff; /* White */
}

  
  header {
    background-color: #0d1117; /* Slightly Darker Blue */
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff; /* White */
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #58a6ff; /* Light Blue */
  }
  
  nav a.active {
    color: #58a6ff; /* Light Blue - Apply your active link color here */
  }
  
  section {
    padding: 2rem;
  }
  
  h2 {
    color: #58a6ff; /* Light Blue */
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #58a6ff; /* Light Blue */
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  
  label {
    margin-bottom: 0.5rem;
    color: #58a6ff; /* Light Blue */
  }
  
  input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #58a6ff; /* Light Blue */
    border-radius: 4px;
    background-color: #0d1117; /* Slightly Darker Blue */
    color: #ffffff; /* White */
  }
  
  input::placeholder, textarea::placeholder {
    color: #8b949e; /* Light Grey */
  }
  
  button {
    padding: 0.5rem;
    background-color: #58a6ff; /* Light Blue */
    color: #ffffff; /* White */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005cc5; /* Darker Blue */
  }
  
  footer {
    background-color: #0d1117; /* Slightly Darker Blue */
    padding: 1rem;
    text-align: center;
  }
  
  footer a {
    color: #58a6ff; /* Light Blue */
    margin: 0 0.5rem;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .about-me-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';
    color: white;
    line-height: 1.6;
  }
  
  .about-me-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: lightslategray;
    text-align: center;
  }
  
  .about-me-container p {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: justify;
  }
  
  .about-me-container h3 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: lightslategray;
  }
  
  .about-me-container ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .about-me-container ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  .resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';
    color: white;
    line-height: 1.6;
  }
  
  .resume-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  
  .resume-container .download-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .resume-container .resume-section {
    margin-bottom: 30px;
  }
  
  .resume-container h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #2980b9;
  }
  
  .resume-container .resume-item {
    margin-bottom: 20px;
  }
  
  .resume-container .resume-item h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .resume-container .resume-item p, .resume-container .resume-item ul {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .resume-container .resume-item ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .resume-container .resume-item ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  .resume-container .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .resume-container .skills-list li {
    background-color: lightslategrey;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    display: inline-block;
  }
  